/* <!--Nav bar--> */
nav {
    overflow: hidden; 
    display: flex;
    background-color: white;
    margin: 0px 150px;
}
nav .link {
    display: flex;
    color: black;
    text-align: center;
    padding: 15px 225px 0px;
    text-decoration: none;
}
nav a{
    display: block;
    color: black;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}
nav a:hover {
    color: blue;
}
nav .logo {
    float: left;
    padding: 5px 12px;
    display: flex;
    left: 20px;

}
.nav-hr{
    margin: 0px 100px;
    background-color: blue;
}


/* <!-- Footer Style -->  */
.footer{
    width: 70% ;
    margin: auto; 
    margin-top: 20px;
    text-align: center;
    border-top: 2px solid #0029A5;
    bottom: 0 ; 
    left: 100px; 
}
.footer p {
    display: inline-block;
    margin-left: 10px ;
    padding-top: 10px;
}
.footer .logo {
    font-size: 30px;
    font-weight: bold;
    margin-right: 40px ;
}
.footer img {
    width: 30px ;
    margin: 0 5px ;
}